.form_download_parent {
    width: 60%;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 40px;
    margin: 0px auto 0px auto;
    align-items: start;
}

.form_download_child {
    margin: 40px 0 40px 0;
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
}

.downloadable_form {
    display: grid;
    align-items: center;
    grid-template-columns: 10% 90%;
    border-radius: 10px;
    color: black;
    padding: 10px;
    border: 2px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.downloadable_form:hover {
    background-color: #df1f26;
    border: 2px solid #df1f26;
    transform: translateY(-8px);
    box-shadow: 0 6px 18px #df1f26;
}

.downloadable_form:hover a,
.downloadable_form:hover img {
    filter: invert(0);
    color: white;
}

.downloadable_form a {
    text-decoration: none;
    color: black;
}

.downloadable_form img {
    width: 22px;
    filter: invert(1);
}
